.App {
  text-align: center;
}

.header {
  color: #806a6b;
}

.recipe-input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  margin-right: 10px;
}

.btn-submit {
  padding: 10px;
}

/* .container {
  display: none;
} */
