.recipe-main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  background-color: #f8eed4;
  margin: 20px 10px 0px 10px;
}
.recipe-main-div h2 {
  flex: 1;
  margin: 0;
  cursor: pointer;
}

.recipe-main-div a {
  text-decoration: none;
  color: #745a71;
}

.recipe-body-div {
  display: flex;
  flex-direction: row;
  background-color: #d9d8ec;
  margin: 0px 10px;
  padding: 10px;
}
.recipe-body-div p {
  margin: 0px;
}
.recipe-body-div span {
  display: flex;
}
.recipe-body-div span p:first-of-type {
  font-style: italic;
}

.overflow-div {
  overflow-y: scroll;
  background-color: #d7d0d0;
  padding: 0px 20px;
  height: 200px;
}

.overflow-div span{
  padding: 10px;
}

.overflow-div span p:first-of-type {
  font-style: normal;
}

.subtitle {
  margin-top: 10px !important;
  margin-bottom: 2px !important;
}
.subtitle:nth-of-type(2) {
text-align: center;
}
