.recipe-main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  background-color: #f8eed4;
  margin: 20px 10px 0px 10px;
}
.recipe-main-div h2 {
  flex: 1;
  color: #745a71;
  margin: 0;
}

.recipe-body-div {
  display: flex;
  flex-direction: row;
  background-color: #d9d8ec;
  margin: 0px 10px;
  padding: 10px;
}
.recipe-body-div p {
  margin: 0px;
}
.recipe-body-div span {
  display: flex;
}
.recipe-body-div span p:first-of-type {
  font-style: italic;
}
